<!doctype html>
<html>
<head>
    <title>留言  </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" /><meta name="full-screen" content="true" />
    <meta name="screen-orientation" content="portrait" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="360-fullscreen" content="true" />
    <meta HTTP-EQUIV="pragma" content="no-cache" />
    <meta HTTP-EQUIV="Cache-Control" content="no-store, must-revalidate" />
    <meta HTTP-EQUIV="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" />
    <meta HTTP-EQUIV="expires" content="0" />
    <link href=/static/vue/css/vuecss.css rel=stylesheet>
    <script src="/static/vue/js/vue.js"></script>
    <script src="/static/element-ui/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/jquery/jquery-1.8.3.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/sel/js/codejs.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="../../function.js"></script>
       <link rel="stylesheet" type="text/css" href="../../css.css">
 <style>
        .t1{width:96%;margin:0 auto;border:1px solid #000;border-bottom:none;line-height: 60px;}
        .t1 td{width:96%;text-align: center;font-size:18px;font-weight: bold;}
        .t2 {margin:0 auto; border:1px solid #000;width:96%;line-height: 40px;font-size: 16px;}
        .t2 tr{border:1px solid #000;}
        .t2 td{border:1px solid #000;padding-left:2px;}
	.td1{width:200px;}
    </style>
</head>
<body>


<div id="app">




    <!--show begin -->
    <div style="padding:8px;">
        <div style="padding:8px;">
            <div style="padding-left:0px;font-size:18px;font-weight:bold;line-height:38px;padding-top:8px;">
                <span style="float:right;">  <el-button round  @click="goblack()">返回</el-button>&nbsp;&nbsp;</span>

                <br/>
            </div>
        </div>

<table class="t1">
    <tr><td>留言</td></tr>
</table>
<table  class="t2">
        
<tr><td class="td1">用户:</td><td>{{data_info.username }}</td></tr>

<tr><td class="td1">内容:</td><td>{{data_info.memo }}</td></tr>

<tr><td class="td1">回复:</td><td>{{data_info.huimemo }}</td></tr>

<tr><td class="td1">时间:</td><td>{{data_info.uptime }}</td></tr>

</table>


    </div>    <!--show end -->







</div>

<script>
    var ubiao="liuyan";
    var data={
        data_info:
        {
            id: '',  //编号  
uid: '',  //用户  
memo: '',  //内容  
huimemo: '',  //回复  
uptime: '',  //时间  

username: '',  //用户  

        },
        id:0,
    }

    //详细信息---------------------------------------------------------
    var   getInfo=function()
    {
        this.id=getQueryString("id");
        //先把本地对象缓存下来
        var self = this;
        //-----------------------------
        var url="/"+ubiao+"/query"+ubiao[0].toUpperCase()+ubiao.substr(1)+"ById";  //apiurl
        $.ajax({
            url: url,
            data: "id="+this.id,
            type: "POST",
            dataType: "json",
            success: function(json) {
                if(json.msg=="666666")
                {
                    self.data_info=json.enlist[0];
                }
                else{
                    location="list.html";
                }
            }
        });
        //-----------------------------
    }
    //---------详细信息 end--------------------------------------------------------------------------------

    var goblack=function()
    {
        window.history.back();
    }

    //跳转添加
    var upadd=function()
    {
        location="../mylist/add.html";
    }

    var vm = new Vue({
        el: "#app",
        data:data,
        methods:
        {
            getInfo:getInfo,
            goblack:goblack,
            upadd:upadd,
        },
        created: function ()
        {
            this.getInfo();
        }

    });


</script>


</body>
</html>