<!doctype html>
<html>
<head>
    <title> 溯源信息  </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" /><meta name="full-screen" content="true" />
    <meta name="screen-orientation" content="portrait" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="360-fullscreen" content="true" />
    <meta HTTP-EQUIV="pragma" content="no-cache" />
    <meta HTTP-EQUIV="Cache-Control" content="no-store, must-revalidate" />
    <meta HTTP-EQUIV="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" />
    <meta HTTP-EQUIV="expires" content="0" />
    <link href=/static/vue/css/vuecss.css rel=stylesheet>
    <script src="/static/vue/js/vue.js"></script>
    <script src="/static/element-ui/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/jquery/jquery-1.8.3.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/sel/js/codejs.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="../../function.js"></script>
      <link rel="stylesheet" type="text/css" href="../../css.css">

</head>
<body>
<div id="app">

   <div style="padding:8px;">
        <div style="padding-left:0px;font-size:18px;font-weight:bold;line-height:38px;padding-top:8px;">
            <span style="float:right;">  <el-button round  @click="goblack()">返回</el-button>&nbsp;&nbsp;</span>

            <br/>
        </div>
    </div>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div style="line-height:50px;font-size:28px;color:red;">
                    <br/>
                    溯源信息
                    <br/>
                </div>

                    <div class="forminputbg  col-md-6 column"  >
                        <el-form  ref="add_form" :rules="add_rules" :model="add_form" label-width="125px" >



                            <el-form-item label="农产品" prop="nong">
<el-input v-model="add_form.nong"></el-input> 
  </el-form-item>

<el-form-item label="产品图片" prop="picurl">
<el-upload
  action="/doUploadjson"
  list-type="picture-card"
  :on-preview="picurl_handlePictureCardPreview"
  :on-remove="picurl_handleRemove" 
   :on-success="picurl_uploadsuccess"> 
 <i class="el-icon-plus"></i>
</el-upload>
<el-dialog :visible.sync="picurl_dialogVisible">
<img width="100%" :src="picurl_dialogImageUrl" alt="">
</el-dialog>  <br/><br/> 

  </el-form-item>

<el-form-item label="播种" prop="bo">
<el-input  type="textarea"   :rows="12"  placeholder="请输入内容"  v-model="add_form.bo"></el-input> 

  </el-form-item>

<el-form-item label="上市时间" prop="chetime">
<el-input v-model="add_form.chetime"></el-input> 
  </el-form-item>

<el-form-item label="施肥" prop="shi">
<el-input  type="textarea"   :rows="12"  placeholder="请输入内容"  v-model="add_form.shi"></el-input> 

  </el-form-item>

<el-form-item label="生长" prop="sheng">
<el-input  type="textarea"   :rows="12"  placeholder="请输入内容"  v-model="add_form.sheng"></el-input> 

  </el-form-item>

<el-form-item label="收购" prop="shou">
<el-input  type="textarea"   :rows="12"  placeholder="请输入内容"  v-model="add_form.shou"></el-input> 

  </el-form-item>

<el-form-item label="运输" prop="yun">
<el-input  type="textarea"   :rows="12"  placeholder="请输入内容"  v-model="add_form.yun"></el-input> 

  </el-form-item>





<el-form-item label="图片1" prop="img1">
<el-upload
  action="/doUploadjson"
  list-type="picture-card"
  :on-preview="img1_handlePictureCardPreview"
  :on-remove="img1_handleRemove" 
   :on-success="img1_uploadsuccess"> 
 <i class="el-icon-plus"></i>
</el-upload>
<el-dialog :visible.sync="img1_dialogVisible">
<img width="100%" :src="img1_dialogImageUrl" alt="">
</el-dialog>  <br/><br/> 

  </el-form-item>

<el-form-item label="图片2" prop="img2">
<el-upload
  action="/doUploadjson"
  list-type="picture-card"
  :on-preview="img2_handlePictureCardPreview"
  :on-remove="img2_handleRemove" 
   :on-success="img2_uploadsuccess"> 
 <i class="el-icon-plus"></i>
</el-upload>
<el-dialog :visible.sync="img2_dialogVisible">
<img width="100%" :src="img2_dialogImageUrl" alt="">
</el-dialog>  <br/><br/> 

  </el-form-item>

<el-form-item label="图片3" prop="img3">
<el-upload
  action="/doUploadjson"
  list-type="picture-card"
  :on-preview="img3_handlePictureCardPreview"
  :on-remove="img3_handleRemove" 
   :on-success="img3_uploadsuccess"> 
 <i class="el-icon-plus"></i>
</el-upload>
<el-dialog :visible.sync="img3_dialogVisible">
<img width="100%" :src="img3_dialogImageUrl" alt="">
</el-dialog>  <br/><br/> 

  </el-form-item>




                            <el-form-item>
                                <el-button type="primary"   :loading="loadingbut"  @click="goAdd('add_form')">提交</el-button>
                            </el-form-item>
                        </el-form>
                        <br/>	 <br/>
                    </div>



            </div>
        </div>
    </div>








</div>
<script>
  location="http://localhost:8082/static/web/useradmin/views/soyuan/list.html";
    var ubiao="soyuan";
    var data={
        loadingbut:false,
        userid:'',
        userinfo:{},

        add_form: {

            id: '',  //编号  
nong: '',  //农产品  
picurl: '',  //产品图片  
bo: '',  //播种  
chetime: '',  //上市时间  
shi: '',  //施肥  
sheng: '',  //生长  
shou: '',  //收购  
yun: '',  //运输  
er: '',  //码  
uptime: uptime(),  //上传时间
bh: getding(),  //序号
img1: '',  //图片1  
img2: '',  //图片2  
img3: '',  //图片3  


        },
        add_rules: {
            nong:[
{ required: true, message: '请输入农产品', trigger: 'blur' },
 ],

bo:[
{ required: true, message: '请输入播种', trigger: 'blur' },
 ],


shi:[
{ required: true, message: '请输入施肥', trigger: 'blur' },
 ],



img1:[
{ required: true, message: '请输入图片1', trigger: 'blur' },
 ],

img2:[
{ required: true, message: '请输入图片2', trigger: 'blur' },
 ],

img3:[
{ required: true, message: '请输入图片3', trigger: 'blur' },
 ],



        },


          

picurl_dialogVisible:false,
picurl_dialogImageUrl:'',
  

  

  

  

  

  

  

er_dialogVisible:false,
er_dialogImageUrl:'',
  

  

  

img1_dialogVisible:false,
img1_dialogImageUrl:'',
  

img2_dialogVisible:false,
img2_dialogImageUrl:'',
  

img3_dialogVisible:false,
img3_dialogImageUrl:'',
  





        }
//-------------





        var  goAdd=function(formName)
        {


            var self = this;
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    self.loadingbut=true;
                    // var wcode=encodeURIComponent(self.modeexcode_form.memo);
                    var body="1";

                    for(var key in this.add_form){
                        if(key!="id") {
                            body = body + "&" + key + "=" + zma(this.add_form[key]);
                        }
                    }
                    var url="/"+ubiao+"/add"+ubiao[0].toUpperCase()+ubiao.substr(1)+"Submit";  //apiurl
                    fetch(url, {
                        method: "POST",
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },

                        body: body
                        ,
                    }) .then(function(response) {
                        return response.json()
                    }).then(function(json) {

                        if(json.msg=="666666")
                        {
                            self.$message({
                                type: 'success',
                                message: '成功!',
                            });



                            setTimeout(function(){location="./list.html";},2000);

                        }
                        else
                        {
                            self.$message({
                                type: 'warning',
                                message: '错误!',
                            });
                            self.loadingbut=false;


                        }

                    }).catch(function(ex) {  console.log('error submit!!');   })
                    //-----------------------------

                } else {
                    //   console.log('error submit!!');
                    return false;
        }


        });




        }
            //--------- add end----------

                  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

                





    var goblack=function()
    {
        window.history.back();
    }

        //得到用户
    var   getUserLoginInfo=function()
    {
    }

    //---------信息 end--------------------------------------------------------------------------------





    var vm = new Vue({
        el: "#app",
        data:data,
        methods:
        {

            //当前用户
            getUserLoginInfo:getUserLoginInfo,

            goblack:goblack,
  
            goAdd:goAdd,
                picurl_handleRemove(file) { 
console.log(file);  
},  
picurl_handlePictureCardPreview(file) { 
 this.picurl_dialogImageUrl = file.url; 
 this.add_form.picurl= file.url; 
 this.picurl_dialogVisible = true; 
},  
picurl_handleDownload(file) {  
 console.log(file); 
 }, 

picurl_uploadsuccess(response,file,fileList) {  
  this.add_form.picurl= response.enlist[0]; 
 }, 

er_handleRemove(file) { 
console.log(file);  
},  
er_handlePictureCardPreview(file) { 
 this.er_dialogImageUrl = file.url; 
 this.add_form.er= file.url; 
 this.er_dialogVisible = true; 
},  
er_handleDownload(file) {  
 console.log(file); 
 }, 

er_uploadsuccess(response,file,fileList) {  
  this.add_form.er= response.enlist[0]; 
 }, 

img1_handleRemove(file) { 
console.log(file);  
},  
img1_handlePictureCardPreview(file) { 
 this.img1_dialogImageUrl = file.url; 
 this.add_form.img1= file.url; 
 this.img1_dialogVisible = true; 
},  
img1_handleDownload(file) {  
 console.log(file); 
 }, 

img1_uploadsuccess(response,file,fileList) {  
  this.add_form.img1= response.enlist[0]; 
 }, 

img2_handleRemove(file) { 
console.log(file);  
},  
img2_handlePictureCardPreview(file) { 
 this.img2_dialogImageUrl = file.url; 
 this.add_form.img2= file.url; 
 this.img2_dialogVisible = true; 
},  
img2_handleDownload(file) {  
 console.log(file); 
 }, 

img2_uploadsuccess(response,file,fileList) {  
  this.add_form.img2= response.enlist[0]; 
 }, 

img3_handleRemove(file) { 
console.log(file);  
},  
img3_handlePictureCardPreview(file) { 
 this.img3_dialogImageUrl = file.url; 
 this.add_form.img3= file.url; 
 this.img3_dialogVisible = true; 
},  
img3_handleDownload(file) {  
 console.log(file); 
 }, 

img3_uploadsuccess(response,file,fileList) {  
  this.add_form.img3= response.enlist[0]; 
 }, 



                        

                          
  
  
  
  
  
  
  
  
  
  
  
  
  
  



        },


        created()
        {
            this.getUserLoginInfo();

            var doc = document.documentElement;
            this.table_height = doc.scrollHeight-128;

        }
    });


</script>
</body>
</html>




